name: First Workflow
on: workflow_dispatch
jobs:
    first-job:
      runs-on: windows-latest
      steps:
        - name: Print greeting
          run: echo "Hello workd!"
        - name: Print good bye
          run: echo "Don - bye"
          
